
body{
    background-image: url(../img/pattern.png);
    margin: 0;
}
.wrapper{
    height: 900px;
    padding-top: 30px;
    background-image: url(../img/header_colours.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
}
header{
    background-color: white;
    height: 180px;
    border-bottom: 1px solid #d2d2d2;
    
}
#logo{
    margin: 60px 0 0 50px;
    height: 57px;
    width: 215px;
    float: left;
}
nav{
    float: right;
    position: relative;
    top: 60px;
    margin-right: -19px;
    height: 44px;
}
li{
    display: inline;
    float: left;
    color: #646464;
}
li a{
    color: #646464;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    position: relative;
    top: 10px;
    text-decoration: none;
    margin-right: 20px;
}
li a:hover{
    color: #3679b1;
}
.ribbon{
    float: right;
    position: relative;
    bottom: 24px;
}
#cont{
    height: 43px;
    width: 204px;
    background-color: #3679b1;
    border-top: 1px solid #9bbcd8;
    text-align: center;
}
#cont a{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 10px;
    right: 5px;
}
.triunghi {	
        height: 20px;
        width: 20px;
        float: right;  
        position: relative;
        top: 6px;
        right: -7px;
        background-image: url(../img/triangle_inactive.png);
        background-repeat: no-repeat;
}
#cont a:hover .triunghi{     
        height: 20px;
        width: 20px;
        float: right;       
        background-image: url(../img/triangle_active.png);
        background-repeat: no-repeat;
}
:-moz-any(.triunghi) {	
        height: 20px;
        width: 20px;
        float: right;  
        position: relative;
        top: 16px;
        right: -3px;
        background-image: url(../img/triangle_inactive.png);
        background-repeat: no-repeat;
}

.content{
    background-color: white;
    border-bottom: 1px solid #cecece;
}
.echipa{
    color: #6e6e6e;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 47px;
    margin-bottom: 40px;
}
.wrap_frames{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    float: right;
}
.frame{
    height: 250px;
    width: 190px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
}
.photo{
    height: 188px;
    width: 188px;
    border: 1px solid #cbcbcb;
    background-color: #e9e9e9;
}
.nume{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #646464;
    margin-top: 15px;
    float:left;
}
.job{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    float:left;
    clear: left;
}
.social{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #e9e9e9;
}
.col_left{
    border-right: 1px solid #cecece;
    width: 298px;
    float: left;
}
.links{
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    float:left;
}
.links a{
    text-decoration: none;
    float: left;
    clear: left;
    color: #646464;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 30px;
}
.links a:hover{
    text-decoration: underline;
}
.col_mid{
    border-right: 1px solid #cecece;
    border-left: 1px solid white;
    height: 255px;
    width: 298px;
    float: left;
}
.fb-lk{
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 33px;
}
.tw-lk{
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 33px;
}
.yt-lk{
    background-image: url(../img/yt.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 33px;
}
.col_right{
    border-left: 1px solid white;
     height: 255px;
    float: left;
}
.col_right p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 200;
    font-style: italic;
    color:#646464;
    
    margin: 25px 0 0 20px;
}
.author{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #9b9b9b;
    position: relative;
    top: 100px;
    left: 25px;
    
}
.ads{
    background-color: white;
    border-top: 1px solid #cecece;
    height: 130px;
}
.ad_p{
    float:left;
    margin: 50px;
}
.colours{
    background-image: url(../img/footer_colours.png);
    background-repeat: no-repeat;
    padding-bottom: 12px;
}

/*contact work*/
form{
    float:left;
    margin-left:40px;
    margin-top:60px;
    margin-bottom:80px;
}
input{    
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    display:block;
    height: 30px;
    width: 450px;
    padding-left:10px;
}
legend{
    color: #6e6e6e;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 45px;
}
textarea{
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    margin-bottom: 18px;
    height: 135px;
    width: 447px;
    padding-left:10px;
    resize: none;
}
.in_name{
    margin-bottom: 18px;
}
.in_email{
    margin-bottom: 40px;
}
.sub_btn{
    background-color: #3679b1;
    border: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    height: 35px;
    width: 165px;
    margin: 0;
    cursor:pointer;
}
.right_side{
    float:left;
    margin-left:65px;
    margin-top:90px;
}
.right_side span{
    font-family: 'Source Sans Pro', sans-serif;
    color:#646464;
    font-size:18px;
    font-weight: 600;
}
.right_side ul{
    margin-top: 15px;
}
.right_side li{
    display:block;
    float:none;
    margin-bottom:5px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#646464;
    font-size:14px;
    
}
.right_side ul li:nth-child(3){
    margin-top:25px;
}